.features {
  .list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  padding-bottom: 20px;
  padding-top: 28px;
  background-color: white;
}

.features__item {
  width: 300px;
  padding-left: 50px;
  padding-top: 10px;

  p {
    padding: 0 20px;
  }
}

.features__item--house {
  background: url("../../img/icon-house.svg") no-repeat 21px 0;
  background-size: 38px 38px;
}

.features__item--souvenir {
  background: url("../../img/icon-gift.svg") no-repeat 22px 0;
  background-size: 38px 38px;
}

.features__item--burger {
  background: url("../../img/icon-burger.svg") no-repeat 19px 4px;
  background-size: 38px 38px;
}

.features__name {
  .reset();
  position: relative;
  margin-bottom: 14px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.features__description {
  .reset();
  margin-bottom: 18px;
  padding-top: 30px;
  line-height: 21px;
  color: @description-color;
  text-align: start;

  &--none {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .features {
    width: 768px;
    padding-bottom: 60px;
  }

  .features__item {
    width: 33%;
    padding: 0;

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      .features__description {
        width: 195px;
      }
    }
  }

  .features__name {
    text-align: center;
    margin-top: 133px;
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 26px;
  }

  .features__description {
    margin: 0 auto;
    line-height: 21px;
    width: 205px;
    text-align: center;

    &--none {
      display: none;
    }
  }

  .features__item--house {
    background-position: 50% 34px;
    background-size: 75px 75px;
  }

  .features__item--souvenir {
    background-position: 50% 34px;
    background-size: 75px 75px;
  }

  .features__item--burger {
    background-position: 50% 36px;
    background-size: 75px 75px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1200px;
    padding-bottom: 81px;
  }

  .features__item {
    &:nth-child(3) {
      .features__description {
        width: 325px;
      }
    }
  }

  .features__name {
    margin-top: 130px;
  }

  .features__description {
    width: 295px;

    &--none {
      display: block;
    }
  }
}
