.features {
  .list-reset();
}

.features__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.features__description {
  line-height: 21px;
  color: #333333;
  text-align: start;
}
