.form__item {
  border: none;
  text-align: left;

}

.form__item-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.form__item-content {
  .list-reset();
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
