.gallery {
  .list-reset();
  display: flex;
  flex-wrap: wrap;

  p {
    text-align: left;
    padding-left: 20px;
    line-height: 24px;
  }
}

.gallery__name {
  font-weight: 700;
  color: @description-color;
}

.gallery__authors {
  text-transform: none;
  color: @description-color;
}

.gallery__likes {
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .gallery {
    width: auto;
  }

  .gallery__item {
    width: 324px;
    padding: 0 60px;

    &:first-child {
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    background-color: #ffffff;
  }

  .gallery__item {
    width: 400px;
    padding: 0;
  }
}
