.gallery {
  .list-reset();
  display: flex;
  flex-wrap: wrap;

  p {
    text-align: left;
    line-height: 24px;
  }
}

.gallery__item {
  margin: 0 auto;
  padding-bottom: 18px;
}

.gallery__image {
  padding-top: 22px;
}

.gallery__name {
  .reset();
  padding-top: 9px;
  font-weight: 700;
  color: @description-color;
}

.gallery__authors {
  .reset();
  text-transform: none;
  color: @description-color;
}

.gallery__likes {
  .reset();
  position: relative;
  padding-top: 7px;
  padding-left: 36px;
  font-weight: 700;
  background: url("../../img/icon-like.svg") no-repeat 0 5px;
}

@media (min-width: @tablet-width) {
  .gallery {
    width: auto;
  }

  .gallery__item {
    width: 324px;
    padding: 0 60px;

    &:first-child {
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    background-color: #ffffff;
  }

  .gallery__item {
    width: 400px;
    padding: 0;
  }
}
