.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  border: none;

  &--close {
    display: none;
    width: 23px;
    height: 23px;
    top: 17px;
    right: 20px;
    background: url("../img/icon-cross.svg") no-repeat;
  }

  &--menu {
    display: none;
    width: 25px;
    height: 22px;
    bottom: 19px;
    right: 19px;
    background: url("../img/icon-menu.svg") no-repeat;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__toggle {
    .visually-hidden();
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: #ffffff;
  }
}
