.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__toggle {
    .visually-hidden();
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: #ffffff;
  }
}
