.map {
  .reset();
  width: 320px;
  height: 350px;

  img {
    .reset();
  }
}

@media (min-width: @tablet-width) {
  .map {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: @desktop-width;
  }
}
