.page-main {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-main__head-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
}

.page-main__foot-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: @tablet-width;
  }

  .page-main__head {
    &-name,
    &-description {
      width: 550px;
      margin: auto;
    }
  }

  .page-main__foot {
    &-name,
    &-description,
    &-button {
      width: 458px;
      margin: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: auto;
  }
}
