.page-footer {
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 37px;
}

.page-footer__partner {
  position: relative;
  margin-left: 72px;
  padding-top: 36px;
  width: 136px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 35px;
  cursor: pointer;
  text-decoration: none;
  color: black;

  &::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 35px;
    background: url("../img/logo-htmlacademy.svg") no-repeat 1px 2px;
    background-size: 27px 34px;
    top: 37%;
    right: -14px;
  }

  &:hover::after {
    background: url("../img/logo_hover-htmlacademy.svg") no-repeat 1px 2px;
    background-size: 27px 35px;
    top: 32%;
    right: -14px;
  }

  &:active::after {
    background: url("../img/logo_active-htmlacademy.svg") no-repeat 1px 2px;
    background-size: 27px 35px;
    top: 37%;
    right: -14px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    padding: 35px 0;
  }

  .page-footer__hashtag,
  .page-footer__social,
  .page-footer__partner {
    .reset();
    width: 33%;
  }

  .page-footer__hashtag {
    padding-left: 60px;
    padding-top: 9px;
  }

  .page-footer__partner {
    padding-right: 38px;
    padding-top: 9px;

    &::after {
      top: 11%;
      right: 60px;
    }

    &:hover::after {
      top: 11%;
      right: 60px;
    }

    &:active::after {
      top: 11%;
      right: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__hashtag {
    padding-left: 120px;
  }

  .page-footer__partner {
    padding-right: 13px;

    &::after {
      right: 120px;
    }

    &:hover::after {
      right: 120px;
    }

    &:active::after {
      right: 120px;
    }
  }
}
