.page-main {
  .system-border();
  width: 320px;
  margin: 0 auto;
  text-align: center;
}


.page-main__head-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
}

.page-main__foot-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
