.reasons {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
}

.reasons__text-num {
  margin-top: -11px;
}

.reasons__description {
  .reset();
  line-height: 21px;
}


.reasons__item {
  min-height: 167px;


  &:nth-child(-2n + 3) {
    background-color: @ground-color;
    color: white;
    display: flex;
    flex-wrap: wrap;
  }

  &:nth-child(n + 4) {
    height: 167px;

    .reasons__name {
      margin-top: 26px;
    }
  }

  &:nth-child(5) {
    width: 250px;
    padding-top: 0px;
    margin: auto;
  }

  &:nth-child(6) {
    width: 290px;
    margin: auto;
  }

  p {
    padding: 0 20px;
  }
}

.reasons__item-content {
  padding-top: 22px;

  .reasons__description {
    margin-bottom: 41px;
  }
}

.reasons__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .reasons {
    width: auto;
  }

  .reasons__item {
    width: 256px;

    &:nth-child(-2n + 3) {
      width: 100%;
    }
  }

  .reasons__item-content {
    width: 256px;
    margin-top: 30px;
  }
}

@media (min-width: @desktop-width) {
  .reasons {
    background-color: #ffffff;
  }

  .reasons__item {
    width: 400px;

    &:nth-child(-2n + 3) {
      width: 100%;
    }
  }

  .reasons__item-content {
    width: 400px;
  }
}
