.site-list {
  .system-border();
  .list-reset();

}
.site-list__item {
  position: relative;
  background-color: #81b3d2;
  height: 56px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
  &:last-child {
    background-color: white;
  }
  img {
    position: absolute;
    left: 110px;
  }
  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
}
