.social {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;

  .social__item {
    background-color: @ground-color;
    height: 50px;
    width: 50px;
    .list-reset();
  }
}
